/* font import */
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');



body{
    background-color: #2c3531;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

/*{
	border: 1px solid blue;
}*/

/* hide */
#main_header_full {
    display: none;
}

#main_footer_full {
    display: none;
}

/* chrome */
.chrome_focus_outline_none {
    outline: none;
}

/* common */
.box_shadow {
    /* box-shadow: 1px 1px 1px 1px rgb(27, 162, 6), -1px 1px 1px 1px rgb(27, 162, 6); */
    box-shadow: 1px 1px 1px 1px rgb(13, 90, 1), -1px 1px 1px 1px rgb(13, 90, 1); 
}
.box_border {
    border: 1px solid rgb(13, 90, 1);
}


/* header/footer */
/* --- small --- */
#main_footer_small {

    /* color: rgb(31, 189, 22); */
    color: rgba(0, 214, 252, 0.3);
    /* background: linear-gradient(to top, #2c3531 0%, #ffffff 100%); */
    min-width : 50px;
    width : auto; 
    min-height : 40px;
    height: auto; 
    position: fixed;
    bottom: 0px; 
    right: auto;
    margin:0px 46vw 10px 46vw; 
    display: block; 
	border-radius: 10px;
	display: none;
}
#main_footer_small_0 {

    /* color: rgb(31, 189, 22); */
    color: rgba(0, 214, 252, 0.3);
    /* background: linear-gradient(to top, #2c3531 0%, #ffffff 100%); */
    min-width : 50px;
    width : auto; 
    min-height : 40px;
    height: auto; 
    position: fixed;
    bottom: 0px; 
    right: auto;
    margin:0px 46vw 10px 46vw; 
    display: block; 
    border-radius: 10px;
}

#main_header_small {
    
    
    /* background: linear-gradient(to top, #2c3531 0%, #ffffff 100%); */
    width : 80vw; 
    min-width: 287px; 
    min-height : 2px;
    height: auto; 
    margin: 5px auto 9px auto;  
    border-radius: 10px; 
    display: block;
}

/* --- big --- */

#main_footer_full {
    min-width : 225px;
    width : auto; 
    min-height : 40px;
    height: auto; 
    /* box-shadow: 1px 1px 1px 1px white, -1px 1px 1px 1px white; */
    border-top-left-radius: 50px; 
    border-top-right-radius: 50px; 
    position: fixed;
    bottom: 0px;
    right: auto;
    margin:0px 19vw 0px 19vw;

}

#main_header_full {
    width : 30vw; 
    min-width: 287px; 
    min-height : 40px;
    height: auto; 
    margin: 0px auto 9px auto; 
   /* box-shadow: 1px 1px 1px 1px white, -1px 1px 1px 1px white; */
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
}

/* buttons styling */
/* -- search input -- */
.kave-btn-input {
	position: relative;
	border: solid 1px rgba(0, 214, 252, 0.3);
	background: none;
	color: rgba(0, 214, 252, 0.5);
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1.8px;
	outline: none;
}

.kave-btn-input:hover {
	box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
	color: #00d6fc;
	text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
}


/* -- search -- */
.kave-trend-button-search {
	position: relative;
	border: solid 1px rgba(0, 214, 252, 0.3);
	background: none;
	color: rgba(0, 214, 252, 0.5);
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1.8px;
	width: 200px;
	height: 70px;
	padding: 0;
	transition: all 0.25s ease;
	outline: none;
}

.kave-trend-button-search:before {
	content: "";
	position: absolute;
	top: 0;
	left: 10%;
	width: 30px;
	height: 1px;
	transform: translateY(-1px);
	background: #00d6fc;
	transition: all 0.25s ease;
}

.kave-trend-button-search:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 10%;
	width: 30px;
	height: 1px;
	transform: translateY(1px);
	background: #00d6fc;
	transition: all 0.25s ease;
}

.kave-trend-button-search:hover {
	box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
	color: #00d6fc;
	text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
}

.kave-trend-button-search:hover.kave-trend-button-search:before {
	left: 0;
	width: 20px;
}

.kave-trend-button-search:hover.kave-trend-button-search:after {
	right: 0;
	width: 20px;
}

.kave-trend-button-search:hover .kave-trend-button-search-line:before {
	bottom: 0;
}

.kave-trend-button-search:hover .kave-trend-button-search-line:after {
	top: 0;
}



/* -- post -- */
.kave-post-button {
	position: relative;
	border: solid 1px rgba(0, 214, 252, 0.3);
	background: none;
	color: rgba(0, 214, 252, 0.5);
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1.8px;
	width: 200px;
	height: 70px;
	padding: 0;
	transition: all 0.25s ease;
	outline: none;
}

.kave-post-button:before {
	content: "";
	position: absolute;
	top: 0;
	left: 10%;
	width: 30px;
	height: 1px;
	transform: translateY(-1px);
	background: #00d6fc;
	transition: all 0.25s ease;
}

.kave-post-button:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 10%;
	width: 30px;
	height: 1px;
	transform: translateY(1px);
	background: #00d6fc;
	transition: all 0.25s ease;
}

.kave-post-button:hover {
	box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
	color: #00d6fc;
	text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
}

.kave-post-button:hover.kave-post-button:before {
	left: 0;
	width: 20px;
}

.kave-post-button:hover.kave-post-button:after {
	right: 0;
	width: 20px;
}

.kave-post-button:hover .kave-post-button-line:before {
	bottom: 0;
}

.kave-post-button:hover .kave-post-button-line:after {
	top: 0;
}



/*  -- home -- */
.kave-trend-button-home {
	position: relative;
	border: solid 1px rgba(0, 214, 252, 0.3);
	background: none;
	color: rgba(0, 214, 252, 0.5);
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1.8px;
	width: 200px;
	height: 70px;
	padding: 0;
	transition: all 0.25s ease;
	outline: none;
}

.kave-trend-button-home:before {
	content: "";
	position: absolute;
	top: 0;
	left: 10%;
	width: 30px;
	height: 1px;
	transform: translateY(-1px);
	background: #00d6fc;
	transition: all 0.25s ease;
}

.kave-trend-button-home:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 10%;
	width: 30px;
	height: 1px;
	transform: translateY(1px);
	background: #00d6fc;
	transition: all 0.25s ease;
}

.kave-trend-button-home:hover {
	box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
	color: #00d6fc;
	text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
}

.kave-trend-button-home:hover.kave-trend-button-home:before {
	left: 0;
	width: 20px;
}

.kave-trend-button-home:hover.kave-trend-button-home:after {
	right: 0;
	width: 20px;
}

.kave-trend-button-home:hover .kave-trend-button-home:before {
	bottom: 0;
}

.kave-trend-button-home:hover .kave-trend-button-home-line:after {
	top: 0;
}

.kave-trend-button-home-line:before {
	content: "";
	position: absolute;
	bottom: 30%;
	right: 0;
	width: 1px;
	height: 20px;
	transform: translateX(1px);
	background: #00d6fc;
	transition: all 0.25s ease;
}

.kave-trend-button-home-line:after {
	content: "";
	position: absolute;
	top: 30%;
	left: 0;
	width: 1px;
	height: 20px;
	transform: translateX(-1px);
	background: #00d6fc;
	transition: all 0.25s ease;
}

/*  -- trend -- */
.kave-trend-button {
	position: relative;
	border: solid 1px rgba(0, 214, 252, 0.3);
	background: none;
	color: rgba(0, 214, 252, 0.5);
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1.8px;
	width: 200px;
	height: 70px;
	padding: 0;
	transition: all 0.25s ease;
	outline: none;
}

.kave-trend-button:before {
	content: "";
	position: absolute;
	top: 0;
	left: 10%;
	width: 30px;
	height: 1px;
	transform: translateY(-1px);
	background: #00d6fc;
	transition: all 0.25s ease;
}

.kave-trend-button:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 10%;
	width: 30px;
	height: 1px;
	transform: translateY(1px);
	background: #00d6fc;
	transition: all 0.25s ease;
}

.kave-trend-button:hover {
	box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
	color: #00d6fc;
	text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
}

.kave-trend-button:hover.kave-trend-button:before {
	left: 0;
	width: 20px;
}

.kave-trend-button:hover.kave-trend-button:after {
	right: 0;
	width: 20px;
}


/* -- body -- */

#extra_menu_box_vertical_align {
   
    position: absolute;
    width: 100vw;
    height: auto;
    top: 50%; 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}
#extra_menu_box_vertical_align_0 {
	position: fixed;
	width: 80px;
	height: auto;
	right: 20px;
	border: 0px;
   
}


#extra_menu_box_horizontal_align {

    min-width: 200px;
    width: 50vw;
    max-width: 300px;
    min-height: 200px ;
    height: auto;
    box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
	color: #00d6fc;
    text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
    right: auto;
    margin:0px auto 0px auto; 
    border-radius: 8px;

}
#extra_menu_box_horizontal_align_0 {
   	width: 80px;
    min-height: 200px ;
    height: 100%;
    box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
	color: #00d6fc;
    text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
    border-radius: 8px;
}

#extra_menu_box_decor_header {
    
    width: 100%;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    letter-spacing: 1vw;
    color: rgba(0, 214, 252, 0.5);
    background-color: rgba(0, 214, 252, 0.177);
    border-radius: 10px;

}

#extra_menu_box_contents_container {
    font-size: 50px;

}
#extra_menu_box_contents_container_0{
	font-size: 50px;
}


/* body message box */

#body_message_box_container {
	box-sizing: border-box;
	display: inline-block;
	font: normal 100 14px/1.2em "Exo 2", Arial, sans-serif;
	letter-spacing: .06em;
	background-color: rgba(120, 200, 255, 0.1);
	border: 1px solid rgba(120, 200, 255, 0.2);
	color: rgba(120, 200, 255, 0.8);
	padding: 0 1em 1em;
	width: 100vw;
	min-width: 350px;
	max-width: 500px;
	margin:0px auto 20px auto;

}

.body_message_box_header {
	box-sizing: border-box;
	font: normal 100 1.429em/1em "Exo 2", Arial, sans-serif;
	text-transform: uppercase;
	padding: .4em 0;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(120, 200, 255, 0.2);
}

.body_message_username {

	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: tomato;
	text-transform: capitalize;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 10px;


}

.body_message_box_image_container {
	min-width: 300px;
	width: 100%;
	max-width: 440px;

}
.body_message_box_image {
	width: auto;
	max-width: 100%;
	height: auto;
}

.body_message_box_video {


}

.body_message_box_text {
	margin: 5px auto auto auto;


}
.tags_container{
	color: rgb(2, 10, 15);
	font-weight: 900;
	letter-spacing: normal;
}

.message_interact {

	box-sizing: border-box;
	font: normal 100 1.429em/1em "Exo 2", Arial, sans-serif;
	text-transform: uppercase;
	padding: .4em 0;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	font-size: 25px;
	text-align: center;
}
.message_interact_icons {
	box-sizing: border-box;
	width: Calc(80%/3);
}

