body{
    background-color: #2c3531;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

/* hide */
#main_header_full {
    display: none;
}

#main_footer_full {
    display: none;
}

/* chrome */
.chrome_focus_outline_none {
    outline: none;
}


#main_footer_small {
    background: linear-gradient(to top, #2c3531 0%, #ffffff 100%);
}

#main_header_small {
    
    background: linear-gradient(to top, #2c3531 0%, #ffffff 100%);
}
/*
{
    border: 1px solid red;
}
/*